body {
  background: #f9fafb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 30px;
}

h1 {
  font-size: 36px;
}

input, textarea {
  width: 200px;
}

label {
  padding: 5px 0;
}